.ui-news-page
    font-family $font-default
    font-size 14px
    line-height 24px
    padding-bottom 60px

    &__banner
        background gray
        padding-bottom 25%

    &__date
        font-weight bold
        text-transform uppercase
        color $color-kelly-green
        padding-bottom 30px

    &__description
        color #757575
        padding-bottom 40px
