.ui-news-small
    padding 15px 0

    &__header
        font-size 24px
        cursor pointer
        text-decoration none

        &:hover
        &:focus
            text-decoration none

    &__description
        font-size 18px
        line-height 30px
