$font-default =  'Open Sans', sans-serif
$color-default = #343434

$color-kelly-green = #44ac32
$color-forest-green = #379127
$color-lime-green = #54c141
$color-mountain = #1fc386

$color-taupe-gray = #888888
$color-dark-gray = #a2a2a2
$color-battleship-grey = #828282
$color-pastel-grey = #cbcbcb
$color-ash-grey = #b4b4b4
$color-dim-grey = #636363
$color-dark-jungle-green = #282828
$color-munsell = #f3f3f3
$color-platinum = #e7e7e7
$color-isabelline = #ebebeb

$color-red = #f80000
$color-black = #000
$color-gray18 = #2e2e2e
$color-twilight-gray = #2a2b32
$color-ruddy = #ff0030
$color-snuff = #e9eadf
$color-raven = #657182
$color-orange = #ff5a00

$breakpoints = {
    'xs':  0,
    'sm': 544px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
}

$columns = 12
