.ui-heading
    font-family $font-default
    margin 0
    padding 0

    &--lvl1
        color $color-default
        font-size 30px
        padding 20px 0

    &--lvl2
        font-size 18px
        padding 15px 0
        margin 30px 0 12px

    &--light
        color white
