$secondary-border-radius = 20px
$secondary-color = #ffffff

.ui-secondary-button
    display inline-block
    vertical-align middle
    position relative
    cursor pointer
    border-radius $secondary-border-radius
    background-color transparent
    border 0
    color black
    text-decoration none
    transition background-color .17s ease-in-out, color .17s ease-in-out
    outline 0
    overflow hidden
    &:hover
    &:focus
        text-decoration none

    &--gray
        background-color #d6d9e2
        color $secondary-color

        &:active
        &^[0]--active
            background-color $color-mountain
            color $secondary-color

        &:hover
        &:focus
            background-color #38dc9f
            color $secondary-color

        .ui-button-loader
            background-color #38dc9f
            &__point
                background $secondary-color

    &--green
        background-color $color-mountain
        color $secondary-color

        &:active
            background-color $color-mountain
            color $secondary-color

        &:hover
        &:focus
            background-color #38dc9f
            color $secondary-color

    &--md
        font-size 16px
        line-height 24px
        padding 14px 45px

    &--xs
        font-size 16px
        line-height 24px
        padding 8px 30px

    &--block
        display block
        width 100%

    &--loading
        color transparent

    .ui-button-loader
        border-radius $general-border-radius
