.ui-comment-form
    background #f8f8f8
    border-radius 5px
    padding 40px 30px

    textarea
        outline none
        background #fff
        border none
        border-radius 5px
        resize none
        padding 20px
        width 100%
        margin-bottom 20px
