.ui-not-found
    display block
    background black
    background-size cover
    margin-top -100px
    padding-bottom 56.25%
    position relative

    &__content
        position absolute
        width 100%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items center
        background linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0) 100%)
