<header theme="home"></header>
<div class="ui-not-found">
    <div class="ui-not-found__content">
        <img src="/assets/images/404.png" class="ui-image ui-image--responsive" alt="">
        <div class="ui-heading ui-heading--lvl1 ui-heading--light">Страница не найдена</div>
        <div class="ui-text">
            Вернитесь на главную страницу и посторайтесь поворить свои действия
        </div>
        <general-button title="Главная страница" to="main"></general-button>
    </div>
</div>
<footer class="footer"></footer>
