.ui-header
    background $color-twilight-gray
    position relative
    color white
    padding 26px 0
    z-index 10
    text-align center

.ui-logo
    font-family $font-default
    font-weight bold
    font-size 14px
    line-height 24px
    color white
