.ui-home-page-news
    padding 10px 0 60px
    display block

    &__description
        padding-bottom 20px

.ui-home-article-cart
    margin 20px 0
    display flex
    height 382px
    overflow hidden
    border-radius 5px

    &__content
        background rgba(0, 0, 0, .7)
        padding 190px 30px 50px
        flex 1

    &__date
        color #b5b5b5
        font-family $font-default
        font-size 14px
        line-height 24px
        padding-bottom 30px

    &__header

        a
            color white
            font-family $font-default
            font-size 18px
            line-height 24px
            font-weight bold

    &__info
        display flex
        padding 15px 0

    &__details
        font-family $font-default
        font-size 14px
        line-height 24px
        color #b5b5b5

        span
            padding 0 20px 0 10px
