.ui-footer
    background $color-gray18
    padding 56px 0 46px
    color #565656

    a
        color #565656

        &:hover
            text-decoration none
            color $color-kelly-green

.ui-copyright
    padding-top 40px

.ui-designed
    padding-top 45px
