.ui-start-using
    background black

    &__content
        background linear-gradient(to top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 100%)

    &__heading
        font-family $font-default
        font-size 72px
        color white
        text-transform uppercase
        padding 150px 0 40px

    &__description
        color #c5c5c5
        font-size 18px

    &__link
        padding 45px 0 135px

.ui-social
    display flex
    justify-content flex-end

    &--left
        justify-content flex-start
        font-size 18px
        color white

    &--center
        justify-content center
        font-size 18px
        color white

    &__link
        height 35px
        width 35px
        border-radius 50%
        border 1px solid #616161
        display flex
        justify-content center
        align-items center
        margin-left 5px

        &--md
            border 0
            width 50px
            height 50px
            margin-left 0
            margin-right 20px

        &--center
            margin 0 10px

        &--gray
            color $color-ash-grey
            border 1px solid $color-ash-grey

    &__vk
        background #50759b

    &__odnoklassniki
        background #ff7e2e

    &__facebook
        background #3a5897

.ui-text
    padding-bottom 50px
    font-family $font-default
    font-size 14px
    line-height 24px
    color #9d9d9d

    &--white
        color white
        padding-bottom 0
