<header theme="home"></header>
<home-slider></home-slider>
<home-tournament heading="Новые турниры"></home-tournament>
<home-ratings></home-ratings>
<div class="ui-start-using">
    <div class="ui-start-using__content">
        <div class="l-grid l-grid--container">
            <div class="l-row l-row--xs-space-between l-row--xs-middle">
                <div class="l-col l-col--xs-12 l-col--md-12 h-text--xs-center">
                    <div class="ui-start-using__heading">
                        Начать пользоваться сервисом
                    </div>
                </div>
                <div class="l-col l-col--xs-12 l-col--md-12 h-text--xs-center">
                    <div class="ui-start-using__description">
                        Вы можете получить полный доступк к сервису после регистрации
                    </div>
                </div>
                <div class="l-col l-col--xs-12 l-col--md-12 h-text--xs-center">
                    <div class="ui-start-using__link">
                        <additional-button title="Регистрация" to="registration"></additional-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<home-article class="ui-home-page-news" article-data="$ctrl.news"></home-article>
<footer class="footer"></footer>
