.ui-comment-card
    margin 10px 0
    display flex
    padding 20px 0
    position relative
    border-bottom 1px solid #d6d6d6

    &__avatar
        min-width 78px
        height 78px
        border-radius 50%
        background #f7f7f7
        display flex
        justify-content center
        align-items center

    &__header
        display flex

        span
            padding-left 10px

    &__author
        font-family $font-default
        font-size 18px
        color $color-default
        line-height 24px
        font-weight bold

    &__dot
        font-family Arial
        font-size 14px
        line-height 24px
        font-weight bold

    &__date
        font-size 18px
        font-family Arial
        line-height 24px
        color $color-kelly-green
        text-transform uppercase

    &__quote
        margin-left auto
        font-size 18px
        color $color-kelly-green

    &__content
        padding-left 20px

    &__text
        font-family $font-default
        font-size 14px
        line-height 24px
        color #757575
        text-align left
        padding-top 15px
