.l-grid
    box-sizing border-box

    +variant(container)
        max-width 1020px
        width 100%
        padding-right 10px
        padding-left 10px
        margin-right auto
        margin-left auto

    +variant(no-gutters)
        padding 0
