.l-row
    display flex
    flex 0 1 100%
    flex-direction row
    flex-wrap wrap
    list-style none
    margin-right -10px
    margin-left -10px

    &:last-child
        margin-bottom 0

    +variant(no-gutters)
        margin 0
        padding 0
